.home-container {
    background-image: url('./images/new.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .content-box {
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin-left: 50%;
  }